
.project-body-list {
  .ant-col {
    height: 100%;
    padding-bottom: 20px;

    .project-body-list-item {
      height: 100%;

      .project-body-card {
        height: 100%;
        .ant-card-cover{
          height: 60%;
          img{
            height: 100%;
          }
        }

        .ant-card-meta-title {
          margin-bottom: 4px;
        }

        .ant-card-meta-description {
          //height: 44px;
          overflow: hidden;
          //line-height: 22px;
          display           : -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
      }
    }
  }

}
