.project-suite{
  width: 100%;
  height: 100%;
  padding-left: 335px;
  .project-suite-left{
    width: 335px;
    float: left;
    height: 100%;
    margin-left: -335px;
    padding-right: 15px;
  }
  .project-suite-right{
    float: left;
    width: 100%;
    height: 100%;
    .project-suite-right-search{
      width: 150px;
      margin-right: 15px;
    }
    .project-suite-right-search-button{

    }
  }
}

.drop-over-downward{
  td{
    border-bottom: 2px dashed #1890ff !important;
  }
}

.drop-over-upward{
  td{
    border-top: 2px dashed #1890ff !important;
  }
}