
.project-body-list {
  .ant-col {
    height: 100%;
    padding-bottom: 20px;

    .project-body-list-item {
      height: 260px;

      .project-body-card {
        height: 100%;

        .project-body-card-img {
          height: 150px;
        }


        .project-body-card-remark {
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
      }
    }
  }

}
