.project-case-body {
    width: 100%;
    height: 400px;
    .project-case-body-left {
        float: left;
        width: 50%;
    }

    .project-case-body-right {
        float: left;
        width: 50%;
    }
}